.metadata/
BuildSomaProject
MyFirstEMFModel
RemoteSystemsTempFiles
Servers
create.sql
cucumber-java-skeleton
cukes-soma-1
j2mod
node_modules
pocjava8
schedulingTest
scripts-shell-soma
somaAcquisitionManager
somaCommon
somaConfig
somaDianeSageAdapter
somaFSW
somaFuzzyModule
somaJMS
somaLCDSSupport
somaLVSerializer
somaMigration
somaPersistence
somaPush
somaSADMAdapter
somaSchemas
somaSerialization
somaService
somaStorage
somaTorresServer
somaWebClient
somaXmlBeans
undertow
yyy
